.card-main-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.card-wrapper {
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;  /* Ensure image doesn’t overflow when scaling */
}

.card-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    background-position: center;
    transition: transform 0.3s ease; /* Optional for smoother scaling */
}
